.recipe-head {
    text-align: center;
    padding: 0 0 32px 0;

    img {
        margin-bottom: 16px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

        @media screen and (max-width: 1024px) {
            width: 100%;
            height: auto;
        }
    }

    h1 {
        margin-bottom: 32px;
        font-size: 32px;
        position: relative;
        bottom: 58px;
        padding: 16px;
        background-color: #fff;
        width: max-content;
        margin: 0 auto;
        border-radius: 5px;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    }
}

.details {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.details__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-basis: 160px;

    p {
        font-size: 20px;
    }
}
