.card {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    gap: 8px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: #fff;
    color: #000;
    transition: transform 0.2s;
    transform: scale(1);

    &:hover {
        transform: scale(1.05);
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
        font-weight: 600;
        margin-bottom: 8px;
    }

    b {
        font-weight: 900;
    }
}
